// Colors
$color-cream: #f3e2d6;
$color-lavender: #cab4cf;
$color-slate: #445c6e;
$color-navy: #152c36;
$color-text: #1c1c1c;
$color-light: #ffffff;
$color-bluegrey: #7997bc;
$color-purpleblue: #a6a4c8;

// Fonts
$text-paragraphs: 'RX100-Regular', sans-serif;
$text-headings: 'Melodrama-Bold', sans-serif;
$logo-font: 'Melodrama-Bold', sans-serif;

