@use './variables' as vars;
@use './fonts' as *; // Ensure all @font-face are loaded

body {
  margin: 0;
  background-color: vars.$color-cream;
  color: vars.$color-text;
  font-family: vars.$text-paragraphs;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  max-width: 1100px;
  margin: 0 auto;
  padding: 2rem;
}

